[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "==0.4.5"
djangorestframework = "*"
mysqlclient = "~=2.0"

[dev-packages]

[requires]
python_version = "3.7"
